{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if userName %}
    {{ userName }}
    <br>
    {{ userEmail }}
    <br>
    <p>Last seen on: {{ moment(current_user.last_seen).format('LLL') }}</p>
{% endif %}

{% if lsBk %}
{% for bm in lsBk %}
{{ bm[0][0] }} {{ bm[0][1] }}:{{ bm[2] }}, {{ bm[1] }} -- 
{{ moment(bm[3]).fromNow() }}
<br>
{{ bm[0][2] }}
<br>
<br>
{% endfor %}
{% endif %}

{% if text %}
{{ text[0] }} {{ text[1] }}
{% endif %}
<br>

{% if parallel %}
{% for verse in verses %}
    <span style="color:blue;">{{ loop.index }}</span>
    {% if userStatus %}
<a href="{{ url_for('main.bookmark', bk=text[0], chp=text[1], vrs=loop.index) }}">{{ verse }}</a>
    {% endif %}
    {% if not userStatus %} {{ verse }}
    {% endif %}
{% endfor %}
<br>
<br>
{% for verse in verses2 %}
    <span style="color:blue;">{{ loop.index }}</span>
    {% if userStatus %}
<a href="{{ url_for('main.bookmark', bk=text[0], chp=text[1], vrs=loop.index) }}">{{ verse }}</a>
    {% endif %}
    {% if not userStatus %} {{ verse }}
    {% endif %}
{% endfor %}
{% endif %}

{% if verses and not parallel and not bookmark %}
{% for verse in verses %}
    <span style="color:blue;">{{ loop.index }}</span>
    {% if userStatus %}
<a href="{{ url_for('main.bookmark', bk=text[0], chp=text[1], vrs=loop.index) }}">{{ verse }}</a>
    {% endif %}
    {% if not userStatus %} {{ verse }}
    {% endif %}
{% endfor %}
{% endif %}
 
{% if bookmark %}
{{ vrs }}
{{ verses }}
<p>You saved this verse as a bookmark</p>
{% endif %}

{% if books %}
{% for book in books %}
    <span style="color:blue;">{{ loop.index }}</span>
    <a href="{{ url_for('main.exploreBook', book=book) }}">{{ book }}</a>
    <br>
{% endfor %}
{% endif %}

{% if chapters %}
{% for chapter in range(1,chapters+1) %}
<a href="{{ url_for('main.exploreChapter', book=book, chapter=chapter) }}">{{ chapter }}</a>
{% endfor %}
{% endif %}

{% if versions %}
{% for key, value in versions.items() %}
<a href="{{ url_for('main.changeVersion', version=key) }}">{{ key }}</a>
<br>
{% endfor %}
{% endif %}
{% endblock %}
